body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F9FA; 
}

.landing {
    /* height: 100%;
    width: 100%; */
    background-color: #F8F9FA;    
}

.proj {
    font-size: 30px;
    padding-left: 15px;
}

.fa-bars {
    color: rgb(192, 192, 192) !important;
}

.fa-github.proj {
    color: black !important;
}

.fa-dev.proj {
    color: #003E54;
}

.fa-graduation-cap {
    font-size: 30px;
}

ul.edu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.acd {
    margin: 0;
    padding: 0;
}

.bg-light {
    background-color: #ffffff !important;
}

.link {
    color: #212529;
}

.link:hover {
    text-decoration: none;
}

.connect {
    text-align: center;
}

.foot-link:hover {
    text-decoration: none;
    color: #212529;
    background-color: rgba(134, 134, 134, 0.2);
}

.landing-name,.landing-info {
    font-size: 35px;
}

.main-back {
    padding: 70px;
}


.footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff !important;
    padding: 25px;
}

.fa-html5 {
    color: #e34f26;
    font-size: 50px;
}

.fa-css3-alt {
    color: #2663be;
    font-size: 50px;
}

.fa-bootstrap {
    color: #563d7c;
    font-size: 50px;
}

/* Timeline */
/* From https://bootstrapious.com/p/timeline */
/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #007bff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(192, 192, 192);
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#portrait {
    border-radius: 50%;
}

/* #home, #experience, #projects {
    position: fixed;
} */

/* Tablets
@media (min-width: 700px) and (max-width: 1200px) {
    .landing-info {
        font-size: 20px;
    }
    .project-name {
        font-size: 25px;
    }
    .project-date {
        font-size: 15px;
    }
    .fa-chalkboard-teacher {
        font-size: 150px;
    }
    .fa-cogs, .fa-robot {
        font-size: 100px;
    }
    .fa-hands-helping {
        font-size: 150px;
    }
    .main-back {
        padding-top: 70px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
    }
}

/* Mobile Devices
@media (min-width: 300px) and (max-width: 650px) {
    .code-skills,.title-skill {
        text-align: center;
    }
    .main-back {
        padding-top: 70px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
    }
    .nav-ops {
        font-size: 10px;
    }
    .fa-linkedin, .fa-facebook-square, .fa-github-square,.service-event {
        font-size: 25px;
    }
    .fa-cogs, .fa-robot, .fa-hands-helping {
        font-size: 150px;
    }
    .logo-break {
        display: none;
    }
    .logo {
        height: 25px;
        width: 25px;
    }
    .contact, .quick, .connect, .quick-row, .link-mobile {
        text-align: center;
    }
    .pro-img {
        height: 300px;
        widows: 250px;
    }
    .img-container {
        text-align: center;
    }
    .removeMobile {
        display: none;
    }
    .landing-name,.project-name {
        text-align-last: left;
        font-size: 25px;
    }
    .fa-chalkboard-teacher {
        font-size: 150px;
    }
    .hands {
        text-align: center;
    }
    .landing-info {
        font-size: 10px
    }
} */